# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Banco de dados SQLite
*.db
*.db-journal

# Node
/node_modules
.DS_Store
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.idea
.vscode